body {
    background-color: slategray;
    font-family: sans-serif;
    font-size: 12pt;
}

/* -------------------------------------------------------------------------------- */

.button {
    display: block;
    width: 5em;
    background-color: brown;
    color: palegoldenrod;
    float: left;
    margin-right: 0.5em;
    text-align: center;
    cursor: pointer;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 2px;
}

/* -------------------------------------------------------------------------------- */

#main-holder {
    display: block;
    float: left;
    background-color: black;
    padding: 2em;
    border-radius: 10px;
    margin-left: 20%;
}

/* -------------------------------------------------------------------------------- */

.strong {
    font-weight: bold;
}

#status-holder {
    float: right;
    color: navajowhite;
    font-size: 0.8em;
    padding-top: 0.8em;
}

/* -------------------------------------------------------------------------------- */

#ladder-holder {
    float: left;
    width: 14em;
    background-color: black;
    color: navajowhite;
    padding: 0.5em;
    padding-bottom: 0.8em;
    margin-right: 2em;
}

#ladder-title {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    clear: both;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#ladder {
    float: left;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /*background-color: darkslategray;*/
}

.ladder-entry {
    float: left;
    width: 100%;
    clear: left;
    padding-top: 0.4em;
    padding-bottom: 0.2em;
    margin-bottom: 0.8em;
    border-bottom: 1px solid;
}

.ladder-entry-name {
    float: left;
    width: 80%;
}

.ladder-entry-score {
    float: right;
    text-align: right;
    width: 20%;
}

#ladder-entry-0 {
    color: #adff2f;
    border-color: #adff2f;
}

#ladder-entry-1 {
    color: #cd5c5c;
    border-color: #cd5c5c;
}

#ladder-entry-2 {
    color: #6495ed;
    border-color: #6495ed;
}

#ladder-entry-3 {
    color: #fff200;
    border-color: #fff200;
}

#ladder-entry-4 {
    color: #ec008c;
    border-color: #ec008c;
}

#ladder-entry-5 {
    color: #ff0000;
    border-color: #ff0000;
}

/* -------------------------------------------------------------------------------- */

#board {
    float: left;
    background-color: #222222;
}

.board-cell {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0;
    padding: 0;
    background-color: gray;
    margin-right: 1px;
    margin-bottom: 1px;
    border-radius: 0px;
}

.cell-x-0 {
    clear: left;
}

/* empty */
.board-cell-type-0 {
}

/* border */
.board-cell-type-1 {
    background-color: #333333;
}

/* wall */
.board-cell-type-2 {
    background-image: url("../images/brickwall.png");
}

/* spawning point 1 */
.board-cell-type-3 {
    background-image: url("../images/spawn1.png");
}
.board-cell-ant-slot-0 {
    background-image: url("../images/ant1.png");
}

/* spawning point 2 */
.board-cell-type-4 {
    background-image: url("../images/spawn2.png");
}
.board-cell-ant-slot-1 {
    background-image: url("../images/ant2.png");
}

/* spawning point 3 */
.board-cell-type-5 {
    background-image: url("../images/spawn3.png");
    /*background-color: darkblue;*/
}
.board-cell-ant-slot-2 {
    background-image: url("../images/ant3.png");
}

/* spawning point 4 */
.board-cell-type-6 {
    background-image: url("../images/spawn4.png");
}
.board-cell-ant-slot-3 {
    background-image: url("../images/ant4.png");
}

/* spawning point 5 */
.board-cell-type-7 {
    background-image: url("../images/spawn5.png");
}
.board-cell-ant-slot-4 {
    background-image: url("../images/ant5.png");
}

/* spawning point 6 */
.board-cell-type-8 {
    background-image: url("../images/spawn6.png");
}
.board-cell-ant-slot-5 {
    background-image: url("../images/ant6.png");
}
